
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Layout/ProductLayout.cshtml";


}

<div class="container">
    <div class="account">
        <h1>Account</h1>
        <div class="account-pass">
            <div class="col-md-8 account-top">
                @using (Html.BeginForm(@Url.Action("DangNhap", "Home")))
                {
                    <div>
                        <span>Tài khoản</span>
                       @Html.TextBox("TaiKhoan")
                    </div>
                    <div>
                        <span>Password</span>
                        @Html.TextBox("MatKhau")
                    </div>
                    <input type="submit" value="Đăng nhập">
                }
            </div>
           
            <div class="clearfix"> </div>
        </div>
    </div>

</div>

